.card-follower {
    width: 75%;

    padding: 20px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 1px 6px -2px #000;
    background-color: #FFF;
    margin-bottom: 30px;
  }

  h3 {

    margin-top: 0;
    margin-bottom: 5px;

  }

  h2 {

    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 50px;

  }
  
  .card-follower img {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin-right: 20px;
  }
  
  .card-follower .name {
    font-size: 3.4rem;
  }
  
  .card-follower p {
    font-size: 1.4rem;
    margin-bottom: 3px;
  }

  .card-follower .username {
    font-size: 1.8rem;
    font-style: italic;
    margin: 3px 0 10px;
  }
  